{% extends "base.html" %}
{% block site_meta %}
  {{ super() }}
  {% set title = config.site_name %}
  {% set site_name = "" %}
  {% if page and page.title and not page.is_homepage %}
    {% set title = page.title | striptags %}
  {% set site_name = config.site_name %}
  {% endif %}
  {% set image = config.site_url ~ 'images/social.png' %}
  {% if page and page.meta and page.meta.image %}
    {% set image = config.site_url ~ page.meta.image %}
  {% endif %}
  {% set description = config.site_description %}
  {% if page and page.meta and page.meta.description %}
    {% set description = page.meta.description %}
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title|e }}">
  <meta property="og:site_name" content="{{ site_name|e }}">
  <meta property="og:description" content="{{ description|e }}">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta property="og:image" content="{{ image|e }}">
  {% if page and page.meta and page.meta.alt %}
  <meta property="og:image:alt" content="{{ page.meta.alt|e }}">
  <meta property="twitter:image:alt" content="{{ page.meta.alt|e }}">
  {% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@containerssh">
  <meta name="twitter:creator" content="@containerssh">
  <meta name="twitter:title" content="{{ title|e }}">
  <meta name="twitter:description" content="{{ description|e }}">
  <meta name="twitter:image" content="{{ image|e }}">
  <meta name="google-site-verification" content="Weru_AK1pzihagRrQxLKwy_41dczk-ZgG9I-Q6c_0W8" />
  <meta name="google-site-verification" content="VN4-Orfu-TOf9hXInR_ZdaZXQJDiak-dmPuaBc9TlwE" />
{% endblock %}
{% block announce %}
  <a href="/blog/2021/04/01/containerssh-0-4/">
      ContainerSSH 0.4: Audit &amp; Proxy <strong>is now available</strong>! Read more &raquo;
  </a>
{% endblock %}
{% block tabs %}
    {{ super() }}
    <section class="mdx-container">
        {% block herocontent %}{% endblock %}
        <div class="mdx-hero-separator"></div>
    </section>
{% endblock %}