site_name: "ContainerSSH: Launch containers on demand"
site_description: "ContainerSSH is a standalone, customizable SSH server that launches containers in Kubernetes or Docker"
site_url: "https://containerssh.io/"
repo_url: "https://github.com/containerssh/containerssh.github.io/"
edit_uri: "edit/main/docs/"
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - meta
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: True
      separator: "-"
theme:
  name: material
  custom_dir: .docs-theme
  palette:
    primary: blue
    accent: blue
  font: false
  features:
    - navigation.tabs
    - navigation.sections
    - toc.autohide
    - search.suggest
    - search.highlight
  logo: images/logo.svg
  favicon: images/logo.svg
  language: en
  include_search_page: false
  search_index_only: 'false'
extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/CFMMqwS
      name: Discord
    - icon: fontawesome/brands/github
      link: https://github.com/ContainerSSH
      name: GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ContainerSSH
      name: Twitter
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UC0UNgOeDAGTONykuhza9sLA
      name: YouTube
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/orgs/containerssh
      name: Docker Hub
nav:
  - Home: index.md
  - Use cases:
      - Web hosting: usecases/webhosting.md
      - Learning environments: usecases/learning.md
      - Honeypots: usecases/honeypots.md
      - Security: usecases/security.md
  - Getting started:
      - 'Quick Start': getting-started/index.md
      - 'Architecture': getting-started/architecture.md
      - 'Installation': getting-started/installation.md
      - 'Configuration': getting-started/configuration.md
      - 'Authentication Server': getting-started/authserver.md
      - 'Container Backends':
          - 'Selecting a Backend': getting-started/backends.md
          - 'The Docker Backend': getting-started/docker.md
          - 'The Kubernetes Backend': getting-started/kubernetes.md
      - 'FAQ': getting-started/faq.md
      - 'Getting Help': getting-started/getting-help.md
  - Guides:
      - Overview: guides/index.md
      - Honeypot: guides/honeypot.md
      - Logging to the ELK stack with Docker and Fluentd: guides/docker-elk/index.md
  - Downloads: downloads/index.md
  - Reference manual:
      - 'Overview': reference/index.md
      - Installation: reference/installation.md
      - Backends:
        - Backend selection: reference/backends.md
        - DockerRun: reference/dockerrun.md
        - KubeRun: reference/kuberun.md
      - Webhooks and APIs:
        - 'Authentication': reference/auth.md
        - 'Configuration server': reference/configserver.md
        - 'API': reference/api/index.md
      - Monitoring:
        - Logging: reference/logging.md
        - Metrics: reference/metrics.md
      - Security:
        - Hardening guide: reference/hardening.md
      - Customization:
        - Creating a guest image: reference/image.md
      - Upcoming releases:
          - 0.4:
            - 'Overview': reference/upcoming/index.md
            - 'Installation': reference/upcoming/installation.md
            - 'Configuration':
                - 'SSH': reference/upcoming/ssh.md
            - 'Backends':
                - 'Backend selection': reference/upcoming/backends.md
                - 'Docker': reference/upcoming/docker.md
                - 'Kubernetes': reference/upcoming/kubernetes.md
                - 'DockerRun (deprecated)': reference/upcoming/dockerrun.md
                - 'KubeRun (deprecated)': reference/upcoming/kuberun.md
            - Webhooks and APIs:
                - 'Authentication': reference/upcoming/auth.md
                - 'Configuration server': reference/upcoming/configserver.md
                - 'API': reference/upcoming/api/index.md
            - Customization:
                - 'Creating Guest Images': reference/upcoming/image.md
            - Monitoring:
                - 'Logging': reference/upcoming/logging.md
                - 'Audit logging': reference/upcoming/audit.md
                - 'Metrics': reference/upcoming/metrics.md
            - Security:
                - 'Restrictions': reference/upcoming/security.md
                - 'Hardening guide': reference/upcoming/hardening.md
            - Troubleshooting:
                - Troubleshooting guide: reference/upcoming/troubleshooting.md
                - Message codes: reference/upcoming/codes.md
  - Development:
      - Overview: development/index.md
      - Getting Started: development/getting-started.md
      - Dashboard: development/dashboard.md
      - Development Environment:
          - Overview: development/devenv/index.md
          - Installing GPG: development/devenv/gpg.md
          - Installing Golang: development/devenv/golang.md
          - Installing the QA tools: development/devenv/qa.md
          - Installing Docker: development/devenv/docker.md
          - Installing Kubernetes: development/devenv/kubernetes.md
          - Setting up your IDE: development/devenv/ide.md
          - Setting up the website: development/devenv/website.md
      - Understanding ContainerSSH:
          - 'Overview': development/containerssh/index.md
          - 'Understanding SSH': development/containerssh/ssh.md
          - 'Writing your first SSH server': development/containerssh/first-ssh-server.md
          - 'Internal Architecture': development/containerssh/internal-architecture.md
      - Coding Style: development/code-style.md
      - Releases: development/releases.md
  - Blog:
      - Announcing the ContainerSSH Guest Agent: blog/2020/12/24/the-agent.md
      - The Road to ContainerSSH 0.4: blog/2020/11/25/the-road-to-0-4.md
plugins:
  - search
  - macros
  - blog:
      format: ""
  - redirects:
      redirect_maps:
        'security.md': 'about/security.md'
        'ssh.md': 'development/containerssh/ssh.md'
        'developing.md': 'development/index.md'
        'contributing/index.md': 'development/index.md'
        'contributing/internal-architecture.md': 'development/containerssh/internal-architecture.md'
        'development/internal-architecture.md': 'development/containerssh/internal-architecture.md'
        'contributing/libraries.md': 'development/dashboard.md'
        'contributing/roadmap.md': 'development/dashboard.md'
        'quickstart.md': 'getting-started/index.md'
        'installation.md': 'getting-started/installation.md'
        'authserver.md': 'getting-started/authserver.md'
        'configuration.md': 'getting-started/configuration.md'
        'configserver.md': 'reference/configserver.md'
        'backends.md': 'getting-started/backends.md'
        'dockerrun.md': 'reference/dockerrun.md'
        'kuberun.md': 'reference/kuberun.md'
        'faq.md': 'getting-started/faq.md'
        'audit/index.md': 'reference/upcoming/audit.md'
        'audit/format.md': 'https://github.com/ContainerSSH/auditlog/blob/main/FORMAT.v1.md'
        'license.md': 'about/license.md'
        'imprint.md': 'about/imprint.md'
        'privacy.md': 'about/privacy.md'
        'advanced/audit/format.md': 'https://github.com/ContainerSSH/auditlog/blob/main/FORMAT.v1.md'
        'advanced/index.md': 'reference/index.md'
        'advanced/audit.md': 'reference/upcoming/audit.md'
        'advanced/hardening.md': 'reference/hardening.md'
        'advanced/image.md': 'reference/image.md'
        'advanced/logging.md': 'reference/logging.md'
        'advanced/metrics.md': 'reference/metrics.md'
        'getting-started/configserver.md': 'reference/configserver.md'
        'getting-started/backends/dockerrun.md': 'getting-started/docker.md'
        'getting-started/backends/kuberun.md': 'getting-started/kubernetes.md'
        'metrics.md': 'reference/metrics.md'
extra_css:
  - css/custom.css?v6
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - javascript/tables.js
copyright: >
  Copyright &copy; ContainerSSH Contributors
  | <a href="/about/">About Us</a>
  | <a href="/about/packages/">Packages</a>
  | <a href="/about/security/">Security</a>
  | <a href="/deprecations/">Deprecations</a>
  | <a href="/about/license/">MIT License</a>
  | <a href="https://github.com/ContainerSSH/branding/blob/main/README.md">Brand assets</a>
  | <a href="/about/privacy/">Privacy Policy</a>
  | <a href="/about/imprint/">Imprint</a><br />
  <a href="https://www.linuxfoundation.org/trademark-usage/">Kubernetes and Linux are trademarks of The Linux Foundation.</a> <a href="https://www.docker.com/legal/trademark-guidelines">Docker and the Docker logo are trademarks of Docker, Inc.</a>
