.md-announce a, .md-announce a:focus, .md-announce a:hover {
    color: #ffffff;
}

@media screen and (min-width: 760px) {
  .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
  }
}