.md-announce a, .md-announce a:focus, .md-announce a:hover {
    color: #ffffff;
}

.since {
    display:inline-block;
    font-weight: normal;
    border-radius:3px;
    font-family:sans-serif;
    height:16px;
    line-height:16px;
    font-size: 0;
    position:relative;
    top:-2px;
}

h1 .since {
    height:21px;
    top:-5px;
}

.since__text {
    background-color:#555;
    color: #fff;
    display: inline-block;
    height:16px;
    font-size:12px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0 5px;
}

h1 .since__text {
    height:21px;
    padding:3px 5px;
}

.side__hide {
    display:none;
}

.since__value {
    background-color:#4c1;
    color:#fff;
    display: inline-block;
    height:16px;
    padding: 0 5px;
    font-size:12px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

h1 .since__value {
    height:21px;
    padding: 3px 5px;
}

.contributors {
    padding-top:1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-left:-10px;
    margin-right:-10px;
}

.contributor {
    flex: 1 0 31%;
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    font-size: 1.2rem;
}

.contributor__name, .contributor__social_wrapper, .contributor__role {
    text-align: center;
    display: block;
}

.contributor__name, .contributor__social_wrapper {
    padding-top:0.5rem
}

.contributor__name {
    line-height:1rem
}


.contributor__role {
    font-style:italic;
    font-size:0.8rem;
    color:#555555;
    text-align: center;
    line-height:1rem;
}

.contributor__image img {
    border-radius:50%;
}

.contributor__social {
    display: inline-block;
    padding-left:5px;
    padding-right:5px;
}

.md-typeset a.contributor__social--github {
    color:#000;
}

.md-typeset a.contributor__social--twitter {
    color:#1DA1F2;
}

.md-typeset a.contributor__social--website {
    color:#00a000
}

.md-typeset a.contributor__social--linkedin {
    color:#0072b1
}

.companies {
    position:relative;
    vertical-align: top;
}

.companies .company td {
    padding-top:1.5rem;
}

.companies .logo {
    padding-right:5%;
}

@media screen and (max-width:960px) {
    .companies .logo {
        padding-right:2.5%;
    }
}

.companies .logo img {
    max-width:120px;
}

.companies .logo {
    padding-right:10%;
}

.companies h3 {
    margin-top:0;
}