{% extends "main.html" %}
{% block htmltitle %}<title>ContainerSSH: Launch containers on demand</title>{% endblock %}
{% block herocontent %}
<div class="md-grid md-typeset">
    <div class="mdx-hero">
        <div class="mdx-hero__content">
            <h1>Launch containers<br />on demand</h1>
            <p>
                ContainerSSH launches a new container for each SSH connection in <strong>Kubernetes, Podman or Docker</strong>.
                The user is transparently dropped in the container and the container is removed when the user disconnects.
                Authentication and container configuration are dynamic using webhooks, no system users required.
            </p>
            <p><small>Oh, and it's free / open source!</small></p>
        </div>
        <div class="mdx-hero__image">
            <img src="/images/hero-header.svg" alt="" height="627" width="860" draggable="false">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    {{ page.content }}
    {% if page and page.meta %}
      {% if page.meta.git_revision_date_localized or
            page.meta.revision_date
      %}
        {% include "partials/source-date.html" %}
      {% endif %}
    {% endif %}
{% endblock %}
